{% extends 'baseMobile.html.twig.html' %}
{% block body %}

{% if sorties %}
    <h1> Mes sorties</h1>
    <table class="table table-dark table-striped">
        <br>
        <tr>
            <td> Nom de la sortie</td>
            <td> Date de la sortie</td>
            <td> Lieu</td>
        </tr>
        {% for sortie in sorties %}
        <tr>
            <td> <a href="{{ path('sortie_details',{'id':sortie.id}) }} " title="Afficher">{{ sortie.nom }} </a></td>
            <td> {{ sortie.dateHeureDebut|date ('d/m/y H:i') }} </td>
            <td> {{ sortie.lieu.ville.nom }} </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <br>
    <div class="aucuneSortie">
        <div><h2> Aucune sortie a afficher </h2></div>
    </div>
    <br>
{% endif %}
{% endblock %}
   {% block title %}

   {% endblock %}