{% extends 'base.html.twig' %}

{% block title %}
Profile
{% endblock %}

{% block body %}

    <h1>Mon Profile</h1>
    <br>
    {{ form_start(participantForm) }}

    {{ form_widget(participantForm) }}


    {{ form_end(participantForm) }}
{% endblock %}