{% extends 'base.html.twig' %}

{% block title %}
Profile
{% endblock %}

{% block body %}

    <h1 id="monProfile">Mon Profil</h1>
    <br>
  <div class="profileDiv">
     {{ form_start(participantForm) }}
      {{ form_widget(participantForm) }}
      <button type="submit" class="btn btn-primary btn-lg">Enregistrer</button>
      <button type="reset" class="btn btn-primary btn-lg" ><a class="btn btn-primary " href="{{ path('sortie_liste') }}">Annuler</a></button>
      {{ form_end(participantForm) }}
  </div>
{% endblock %}