{% block body %}

    {{ form_start(searchForm) }}

    {{ form_widget(searchForm) }}

    <button type="submit" name ="Rechercher" >Rechercher</button>



    {{ form_end(searchForm) }}


{% endblock %}
